.basket-container {
  display: flex;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.basket-title {
  font-size: 17px;
  font-weight: 800;
}

.basket-image {
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.basket-content {
  padding-left: 20px;
}
.rating {
  display: flex;
}
.btn-remove {
  background: #f0c14b;
  border-radius: 2px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
